#footerPlacement ul {
	margin-top: 20px;
}
div#footer {
	background: #ffffff;
	text-align: right;
}
#footer ul {
	margin: 0px;
	margin-right: 20px;
}
#footer li{
	margin:5px;
	display: inline;
}
#footer a {
	text-decoration: none;
	color: black;
}
