html { 
	margin:0px;
	padding:0px;
	font-family:'Palanquin', sans-serif;
	font-size:20;
}
body {
	margin:00px;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-content: center;
}
div#header {
	background: #FFFFFF;
}
#header h1 {
	/*font-family: georgia;*/
	font-weight: lighter;
	font-size: 32;
	padding-top: 0px;
	padding-bottom: 3px;
	color: #0086b3;
	margin: 0px;
	margin-left: 16px;
	display: flex;
}
div#Content {
	display:flex;
	flex-direction: column;
	background: #c6ebc6;
	padding: 20px;
}
p#bio {
	margin:10px;
	margin-left:20px;
	padding:0px;
	align-self:center;
	color: #006080;
}

#bio_pic {
	margin:10px;
}

ul#menu {
	width: 200px;
	background: #79d279;
	padding: 0px;
	margin: 0px;
	list-style:none;
}
#menu li{
	margin:5px;
}
