html { 
	margin:0px;
	padding:0px;
	font-family:'Palanquin', sans-serif;
	font-size:20;
}
body {
	margin:00px;
	display:flex;
	flex-direction: column;
}

div#Content {
	display:flex;
	flex-direction: column;
	background: #c6ebc6;
}
p#bio {
	margin:10px;
	margin-left:20px;
	padding:0px;
	align-self:center;
	color: #006080;
}

#bio_pic {
	margin:10px;
	border-radius: 50%;
	border: 3px solid #0086b3;
}

ul#menu {
	width: 200px;
	background: #79d279;
	padding: 0px;
	margin: 0px;
	list-style:none;
}
#menu li{
	margin:5px;
}

h2.section {
	align-self: center;
}
