html { 
	margin:0px;
	padding:0px;
	font-family:'Palanquin', sans-serif;
	font-size:20;
}
body {
	margin:00px;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-content: center;
}
div#header {
	background:#80bfff;
}
div#Content {
	display:flex;
	flex-direction: column;
}
p#bio {
	margin:10px;
	margin-left:20px;
	padding:0px;
	align-self:center;
}

#bio_pic {
	margin:10px;
}

h1 {
	display: flex;
	justify-content:center; 
	margin: 0px;
}
ul#menu {
	width: 200px;
	background: #79d279;
	padding: 0px;
	margin: 0px;
	list-style:none;
}
#menu li{
	margin:5px;
}
