div.ResumeItem {
    width: 800px;
    align-self: center;
    margin-top: 20px;
}

.ResumeItem h3 {
    margin:0px;
}
.ResumeItem h4 {
    margin:0px;
    font-weight: normal;
}

.ResumeItem p {
    margin: 0px;
}
.ResumeItem ul{
    margin:0px;
}
.ResumeDuties li{
	font-size: 18px;
}
.ResumeSkills li{
	margin:5px;
	display: inline;
	font-size: 16px;
}
